src/main/app/complextransformations.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd">
    <http:listener-config name="HTTP_Listener_Configuration1" host="0.0.0.0" port="8082" doc:name="HTTP Listener Configuration"/>
    <flow name="complextransformationsFlow">
        <http:listener config-ref="HTTP_Listener_Configuration" path="/complex" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json_2.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/java
---
[product:{
	pId:payload.productId,
	pName:payload.productName,
	pBrand:payload.brand,
	pOrgPrice:payload.originalPrice,
	pOff:{
	   pOffPrice:payload.offer.offerPrice,
	    pOffValid:payload.offer.offerValid
	    }
}]]]></dw:set-payload>
        </dw:transform-message>
    </flow>
    <flow name="complextransformationsFlow1">
        <http:listener config-ref="HTTP_Listener_Configuration1" path="/complex1" doc:name="HTTP"/>
        <dw:transform-message doc:name="Transform Message">
            <dw:input-payload doc:sample="sample_data\json_3.json"/>
            <dw:set-payload><![CDATA[%dw 1.0
%output application/xml
---
product:{
	product:{
		pId:payload.productId,
	pName:payload.productName,
	pBrand:payload.brand,
	pOrgPrice:payload.originalPrice,
	pOff:{
	   pOffPrice:payload.offer.offerPrice,
	    pOffValid:payload.offer.offerValid
	    }
	}
}]]></dw:set-payload>
        </dw:transform-message>
    </flow>
</mule>
