src/main/app/currencybycountry.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:tracking="http://www.mulesoft.org/schema/mule/ee/tracking" xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:spring="http://www.springframework.org/schema/beans" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-current.xsd
http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/ee/tracking http://www.mulesoft.org/schema/mule/ee/tracking/current/mule-tracking-ee.xsd">
    <flow name="currencybycountryFlow">
        <choice doc:name="Choice">
            <when expression="payload=='US'">
                <set-payload value="#[1]" doc:name="US"/>
            </when>
            <when expression="payload=='UK'">
                <set-payload value="#[new integer[88]]" doc:name="IND"/>
            </when>
            <otherwise>
                <set-payload value="#[72]" doc:name="UK"/>
            </otherwise>
        </choice>
    </flow>
</mule>
